Account Executive Deal Recording Sub-Agent.json
{
  "name": "Deal Recording Sub-Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.name }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are provided with the potential name of a person in the Pipedrive database. You use your tools to see whether that person is already in the database. If there are duplicates, pick one. Reply with the details you find; a Deal will be created in Pipedrive as a result"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        0
      ],
      "id": "e3e3b0d5-81d8-4d8a-b2e3-8673d304e373",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        192,
        224
      ],
      "id": "5cd49457-ab00-4f99-9400-790a90b380f9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rEBsbMMEP7Sn4djf",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedriveTool",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "2c6baf95-bcb2-440d-a9a3-d0af695c551f",
      "name": "Get many people in Pipedrive",
      "credentials": {
        "pipedriveApi": {
          "id": "JuwrPGGjGJm3N8CX",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"found\": true,\n  \"id\": \"person id here\",\n  \"company\": \"company name here\",\n  \"name\": \"person name here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        224
      ],
      "id": "a4f4457b-0262-4fc3-863e-bec7ad9a0aad",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c5c4478-00b3-4c98-88e5-df10a19d6fe6",
              "leftValue": "={{  $json.output.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        0
      ],
      "id": "09330336-a4c4-498b-9392-852224958ae5",
      "name": "If"
    },
    {
      "parameters": {
        "title": "={{ $json.output.name }} Deal",
        "associateWith": "person",
        "person_id": "={{ $json.output.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        912,
        -96
      ],
      "id": "986e2672-d9ab-40da-9e96-9e9a39897bcc",
      "name": "Create a deal",
      "credentials": {
        "pipedriveApi": {
          "id": "JuwrPGGjGJm3N8CX",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "message": "Created a deal",
        "priority": 1,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        1136,
        -96
      ],
      "id": "ae97d07d-ba27-427b-be08-e682f927030b",
      "name": "Push a message",
      "credentials": {
        "pushoverApi": {
          "id": "DV3K0hRkoAh05Svv",
          "name": "Pushover account 2"
        }
      }
    },
    {
      "parameters": {
        "message": "FAILED to create a deal",
        "priority": 1,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        912,
        96
      ],
      "id": "7ddcf00c-67d5-43cd-9fd0-201d131bd960",
      "name": "Push a message1",
      "credentials": {
        "pushoverApi": {
          "id": "DV3K0hRkoAh05Svv",
          "name": "Pushover account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Find in Pipedrive",
        "height": 512,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -128
      ],
      "typeVersion": 1,
      "id": "1382ed3c-2da9-4308-aebb-db4f5f57ddc6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Record a deal",
        "height": 512,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -128
      ],
      "typeVersion": 1,
      "id": "79a1294c-9b19-4f64-958d-502128428c3e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "52840e7a-6feb-47fe-a1ff-1c9c9af9d46d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "82a43820-7b73-493f-810c-b45ea36c48c4",
      "name": "Webhook",
      "webhookId": "52840e7a-6feb-47fe-a1ff-1c9c9af9d46d"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many people in Pipedrive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal": {
      "main": [
        [
          {
            "node": "Push a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bcdf4b9f-47fc-4093-a12a-6dc9c1e24662",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13b55200b963a086b42f884f9b46bd6ff8b68ee884b953ffb37c8c7f8b6ed06c"
  },
  "id": "fiizKdlp4F3gqm1w",
  "tags": []
}