Deal Recording Sub-Agent.json
{
  "name": "Deal Recording Sub-Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -320,
        256
      ],
      "id": "8cf2c579-880d-472d-9ae0-9bf12fc99c8e",
      "name": "When chat message received",
      "webhookId": "a3e67360-dfdc-4069-b8ae-c90d88f58957"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.name }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are provided with the potential name of a person in the Pipedrive database. You use your tools to see whether that person is already in the database. If there are duplicates, pick one. Reply with the details you find; a Deal will be created in Pipedrive as a result."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        -16
      ],
      "id": "0d6dd360-1b93-42a0-8829-6fd0a52e5074",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        192,
        208
      ],
      "id": "3bba8de8-251d-4a6b-a3ce-ec40a16cc658",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cIvoo35XOJQPiczG",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "getAll",
        "returnAll": true,
        "filters": {}
      },
      "type": "n8n-nodes-base.pipedriveTool",
      "typeVersion": 2,
      "position": [
        352,
        208
      ],
      "id": "48e05dbe-aeeb-46dd-9e38-781e48d0893b",
      "name": "Get many persons in Pipedrive",
      "credentials": {
        "pipedriveApi": {
          "id": "O0IODbHhzWug3ip9",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"found\": true,\n  \"id\": \"person id here\",\n  \"company\": \"company name here\",\n  \"name\": \"person name here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        528,
        208
      ],
      "id": "61ce745d-858d-4881-a3db-d5b349a30c39",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad9f557d-c888-4de9-98a3-18cc09ebc1e3",
              "leftValue": "={{ $json.output.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        0
      ],
      "id": "c686d349-2367-4948-aa7d-b5d4d8e2d6de",
      "name": "If"
    },
    {
      "parameters": {
        "title": "={{ $json.output.name }} Deal",
        "associateWith": "person",
        "person_id": "={{ parseInt($json.output.id) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        912,
        -16
      ],
      "id": "e69df849-a61d-49b3-81cb-6b8c66708a00",
      "name": "Create a deal",
      "credentials": {
        "pipedriveApi": {
          "id": "O0IODbHhzWug3ip9",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "userKey": "ujaq8iib5rgxe7741shqcdx2vmggke",
        "message": "Deal successfully created in Pipedrive.",
        "priority": 1,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        912,
        240
      ],
      "id": "0d315741-757f-4798-92a2-73ced4c2d455",
      "name": "Push a message",
      "credentials": {
        "pushoverApi": {
          "id": "F7bF1lNq7OtmAlJV",
          "name": "Pushover account 2"
        }
      }
    },
    {
      "parameters": {
        "userKey": "ujaq8iib5rgxe7741shqcdx2vmggke",
        "message": "Execution Failed",
        "priority": 1,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        736,
        192
      ],
      "id": "70637222-698a-41eb-b966-7676a061e317",
      "name": "Push a message1",
      "credentials": {
        "pushoverApi": {
          "id": "F7bF1lNq7OtmAlJV",
          "name": "Pushover account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "27783aa0-70f3-464e-b04c-22f38e755b15",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        -16
      ],
      "id": "ba3a52df-21d2-4dd6-9b1a-20b54c4c547f",
      "name": "Webhook",
      "webhookId": "27783aa0-70f3-464e-b04c-22f38e755b15"
    },
    {
      "parameters": {
        "content": "## Find In PipeDrive",
        "height": 512,
        "width": 496,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -112
      ],
      "typeVersion": 1,
      "id": "c665985c-78f5-42bc-8a1e-19000e7e9d98",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Record a Deal",
        "height": 512,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        -112
      ],
      "typeVersion": 1,
      "id": "b0871a8e-0dd5-4de5-926c-83f42861e387",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many persons in Pipedrive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal": {
      "main": [
        [
          {
            "node": "Push a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6e9bb20d-6ff3-4e48-98c6-1ecb649723c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccdb55b2c5cf429df1f14e326a85d1add2591ae2943af930841b4a1713f9712e"
  },
  "nodeGroups": [],
  "id": "hyAKXW5AP5XTw4DP",
  "tags": []
}