Prospecting subagent.json
{
  "name": "Prospecting subagent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a B2B sales prospecting assistant. Given a query describing a target customer profile, find exactly 5 high-quality prospects.\n\nSTEP 1 — IDENTIFY COMPANIES: Think of 5 specific, real companies relevant to the user's request (e.g. industry, size, or use case described in the query).\n\nSTEP 2 — FIND PEOPLE: For each company, use the Hunter \"Domain Search\" tool with that company's domain to find real contacts. Prioritize senior, relevant roles (e.g. CFO, VP Finance, Head of Operations) over junior ones.\n\nSTEP 3 — FILL GAPS: If you know a specific person's name but Domain Search didn't return their email, use the Hunter \"Email Finder\" tool with their domain, first name, and last name.\n\nSTEP 4 — VERIFY: Before including any email in your final answer, verify it using the Hunter \"Email Verifier\" tool. Only include prospects whose email status is \"valid\" or \"accept_all\". Discard and replace any prospect whose email fails verification.\n\nSTEP 5 — EXPLAIN: For each of the 5 final prospects, write a 1-2 sentence rationale explaining why they are a strong, relevant prospect for the user's request.\n\nOUTPUT: Return exactly 5 prospects in the required structured format. Do not include more or fewer than 5. Do not include any prospect without a verified email.",
          "maxIterations": 40
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        240
      ],
      "id": "a2442cbc-dbfe-4a4b-ac33-50a05c27a346",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "=https://mcp.firecrawl.dev/{{$vars.FIRECRAWL_API_KEY}}/v2/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.3,
      "position": [
        -736,
        528
      ],
      "id": "1d870194-611d-4ffd-bfee-e663dd43b82b",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        240
      ],
      "id": "f7ca3c57-5cd9-44ae-94ec-39a5e350634f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"prospects\": [\n    {\n      \"firstname\": \"the prospect's first name here\",\n      \"lastname\": \"their last name\",\n      \"company\": \"where they work\",\n      \"role\": \"what they do\",\n      \"email\": \"predicted email address for this prospect\",\n      \"rationale\": \"why this prospect is qualified as a potential client\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        464
      ],
      "id": "d7e6c7d1-c66d-4595-bfe1-801e74aa2f98",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "maxTokens": 4000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -288,
        464
      ],
      "id": "049a4640-f2a8-421d-bc7f-589ff7425b16",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cIvoo35XOJQPiczG",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "domain": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Domain', ``, 'string') }}",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.hunterTool",
      "typeVersion": 1,
      "position": [
        -160,
        464
      ],
      "id": "8acdda4c-c104-4294-8490-f780a9ab1c2b",
      "name": "Hunter",
      "credentials": {
        "hunterApi": {
          "id": "0K4mzXpyMC4swiEf",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "emailFinder",
        "domain": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Domain', ``, 'string') }}",
        "firstname": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name', ``, 'string') }}",
        "lastname": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.hunterTool",
      "typeVersion": 1,
      "position": [
        -32,
        464
      ],
      "id": "06750019-6551-4d5f-9f20-b146eccb6c17",
      "name": "Hunter1",
      "credentials": {
        "hunterApi": {
          "id": "0K4mzXpyMC4swiEf",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "emailVerifier",
        "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.hunterTool",
      "typeVersion": 1,
      "position": [
        96,
        464
      ],
      "id": "c5588789-4132-4cc4-a949-b9d2806f1660",
      "name": "Hunter2",
      "credentials": {
        "hunterApi": {
          "id": "0K4mzXpyMC4swiEf",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -608,
        880
      ],
      "id": "8b6a1ab6-4ce9-4d68-95e1-e25373543de4",
      "name": "When chat message received",
      "webhookId": "15d5787a-09f0-471a-a90d-93ced5ea9f24"
    },
    {
      "parameters": {
        "content": "## SAMPLE OUTPUT\n\n👤 Prospect 1\nVP Engineering @ Deloitte\n✓ Email Verified\n\n👤 Prospect 2\nSenior Partner @ McKinsey\n✓ Email Verified\n\n👤 Prospect 3\nDirector @ BCG\n✓ Email Verified",
        "height": 448,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        112
      ],
      "typeVersion": 1,
      "id": "24ea4318-9d6c-4cac-b4ed-4cf46b1e3736",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "MCP Client": {
      "ai_tool": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Hunter": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hunter1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hunter2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6d9678f3-00de-45b2-8750-46ed0f5ba600",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccdb55b2c5cf429df1f14e326a85d1add2591ae2943af930841b4a1713f9712e"
  },
  "nodeGroups": [],
  "id": "bVcoORHvR6IKjlq3",
  "tags": []
}