RevOps SubAgent.json
{
  "name": "RevOps SubAgent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.sales_lead_description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Based on the input from the user which describes a sales lead, you should reply with a structured version of the lead. Your reply will be sent to Pipedrive to create a lead record."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        0
      ],
      "id": "e21c1958-6ea1-4670-b28d-c9ab06605a53",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"The full name of the lead\",\n  \"company\": \"The company where they work\",\n  \"role\": \"Their job title\",\n  \"email\": \"Their email address\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        208,
        224
      ],
      "id": "24a61589-cfd9-465b-946e-80bab8249efa",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.output.company }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "2fb5881c-a282-4eef-81c1-6cf98e1d2162",
      "name": "Create an organization",
      "credentials": {
        "pipedriveApi": {
          "id": "O0IODbHhzWug3ip9",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('AI Agent').item.json.output.name }}",
        "additionalFields": {
          "emails": {
            "emailProperties": [
              {
                "value": "={{ $('AI Agent').item.json.output.email }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "f80fb116-3268-4f9e-b0ef-aef778a51570",
      "name": "Create a person",
      "credentials": {
        "pipedriveApi": {
          "id": "O0IODbHhzWug3ip9",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $('AI Agent').item.json.output.name }}",
        "organization_id": "={{ $('Create an organization').item.json.id }}",
        "additionalFields": {
          "person_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 2,
      "position": [
        416,
        256
      ],
      "id": "3e5490e4-102c-4348-ac0c-633fa5e1aff4",
      "name": "Create a lead",
      "credentials": {
        "pipedriveApi": {
          "id": "O0IODbHhzWug3ip9",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        32,
        224
      ],
      "id": "40e18213-cbd8-4e69-a612-8030cfc19b82",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Qm9LrzYzhJoD217N",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Parse Data\nUse an Agent with Structured Outputs",
        "height": 592,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -160
      ],
      "typeVersion": 1,
      "id": "4d132fdd-c66c-4f73-9142-f91fd94d8bba",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Load Data\nStore prospect data in pipedrive",
        "height": 592,
        "width": 464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -160
      ],
      "typeVersion": 1,
      "id": "2f44e164-7aeb-46b4-a783-3e12a2dd5446",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sales_lead_description"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -144,
        0
      ],
      "id": "5b5dfa24-321d-4483-ada8-c943afdc40b6",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create an organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an organization": {
      "main": [
        [
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Create a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "278792a9-c0b0-4d8b-90db-d145f5f7c6f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccdb55b2c5cf429df1f14e326a85d1add2591ae2943af930841b4a1713f9712e"
  },
  "nodeGroups": [],
  "id": "Slo2rd4Eb90YhUM9",
  "tags": []
}